<h1>Get Your Weather Forecast</h1>
<form action = "/current_condition">
  Enter the name of the city:
  <input name = "city" type = "text" required="">
  <input type = "submit">
  <p>Check the boxes for additional information
  <input type="checkbox" name="pressure" value="pressure"> pressure
  <input type="checkbox" name="humidity" value="humidity"> humidity
  </p>
</form>
